.mainTitle {
  text-align: center;
  font-size: calc(1.1rem + 1.5vw);
}

.mainTitleSecond {
  margin-top: 30px;
  text-align: center;
  font-size: calc(1rem + 1.5vw);
}

.productStarHigh {
  color: #c36a2d;
}

.productStarLow {
  color: #bebebe;
}

.mainAbout {
  margin: 6rem 0 !important;
  text-align: center;
}

.moreDiv {
  margin: 35px auto 0;
  text-align: center;
}

.moreDiv a {
  background-color: #c36a2d;
  border: none;
  border-radius: 3px;
  padding: 5px 20px;
  color: white;
  font-size: calc(0.7rem + 0.5vw) !important;
  text-decoration: none;
}

.moreDiv a:hover {
  color: white;
}

.cardBox {
  text-align: center;
  border: none !important;
}

.cardTitle {
  font-size: 15px;
  margin-top: 10px;
}
